.list_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 10px;
  justify-content: center;
}

.list_item {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: rgb(85, 85, 85);
}

.title {
  font-size: 20px;
  color: #000000;
}

.decription {
  width: 100%;
}
