.wrapper_load {
  min-width: 150px;
}

.list_center {
  padding: 10px 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.list_column {
  padding: 0 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.favoriteBtn {
  background-color: transparent;
  font-size: 30px;
  color: #eeb004;

  cursor: pointer;
}

.list_item {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 5px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: rgb(158, 158, 158);

  cursor: pointer;

  &:hover {
    background-color: #ffffff;
  }

  &.active {
    background-color: rgb(106, 106, 106);
  }
}

.title {
  font-size: 20px;
  color: #000000;
}

.title.dark {
  color: #f7c900;
  transition: color 0.2s;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.pagination_btn {
  border-radius: 5px;
  padding: 2px 10px;
  background-color: #f7c900;
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }

  &.active {
    background-color: #999999;
  }

  &.pending {
    background-color: #181818;
  }
}
