.themeWrapper {
  width: 100%;
  min-height: 100vh;
  @include flex(center, space-between, column);
  background-color: rgb(146, 146, 146);
  transition: background 0.2s;
}

.themeWrapper.dark {
  background-color: rgb(34, 34, 34);
}

.app {
  @include flex(center, flex-start, column);
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: rgb(223, 222, 221);
  transition: background 0.2s;
}

.app.dark {
  background-color: rgb(90, 90, 90);
}

.rootSection {
  width: 100%;
  flex: 1;
  @include flex(center, space-between, column);
}

.wrapper.dark {
  background-color: rgb(34, 34, 34);
}

.headerWrapper {
  width: 100%;
  @include flex(center, flex-start, column);
  background-color: rgb(146, 146, 146);
}

.headerWrapper.dark {
  background-color: rgb(90, 90, 90);
}

.header {
  @include flex(center, flex-start, column);
  gap: 20px;
  margin-bottom: 10px;
  max-width: 800px;
  width: 100%;
  padding-bottom: 20px;

  border: 1px solid #fff;
  border-radius: 10px;

  background-color: rgb(223, 222, 221);

  transition: background 0.2s;
}

.header.dark {
  background-color: rgb(90, 90, 90);
}

.controlBlock {
  @include flex(center, center, row);
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid $main_border_color;
}

.main_center {
  @include flex(center, flex-start, column);
  width: 100%;
  flex: 1;
}

.main_detailed {
  width: 100%;
  flex: 1;
  @include flex(center, flex-start, row);
  gap: 10px;
}

.footer {
  position: relative;
  width: 100%;
  padding: 10px 10px 50px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  transition: color 0.2s;
}

.title.dark {
  color: #f7c900;
}

.detailed_wrapper {
  width: 100%;
  @include flex(normal, center, column);
}